.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #d4e9fc5c;*/
    height: 100vh;
}

.landingContainer {
    /*margin:10rem auto;*/
    width:80%;
    margin-top:5rem;

}
.landingWrapper {
    display: flex;
    min-height: 70vh;
    border-radius: 25px;
}

.landingDescWrapper {
    width:40%;
    margin-top:19rem;
    padding-left:80px;
    display: flex;
    flex-direction: column;
}

.landingImgWrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingTitle {
    font-weight: 800;
    font-size: 46px;
    margin-block-start: 0;
    margin-block-end: .4em;
    color:#1d2c63
}

.landingSubTitle {
    font-weight: 700;
    font-size: 24px;
    margin-block-start: -15px;
    margin-block-end: 0;
    color:#1d2c63;
}

.description {
    margin-top: 60px;
    font-size: 18px;
    text-align: justify;
    color: #abb8c3;
    font-weight: 600;
}

.landingDescButton button{
    background-color:#1d2c63;
    width:160px;
    height: 40px;
    border-radius: 25px;
    color: #fff;
    font-size:18px;
    border:0;
    font-weight: 600;
    cursor: pointer;
}

.landingDescButton {
    margin-top:40px;

}
