.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    padding-left:100px;
    cursor: pointer;
}
.logo img {
    width: 100px;
}

.sections {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right:100px;
}

.bar {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.bar p {
    font-weight: 800;
    color: #1d2c63;
    cursor: pointer;
}

.bar p:hover {
    transform: scale(1.3);
}

.sections img {
    cursor: pointer;
    margin-right:8px;
}

.sections span {
    font-weight: 800;
}

.sections button {
    margin-right: 20px;
    height: 40px;
    width: 160px;
    background-color: #1d2c63;
    color: #fff;
    border: 0;
    border-radius: 25px;
    font-size:16px;
    font-weight: 600;
    cursor: pointer;
}

.sectionItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right:10px;
}

.sectionItem:hover {
    transform: scale(1.1)
}
