.dashboard {
}

.dashboardContainer {
    display: flex;
    justify-content: center;
    margin-bottom:100px;
}


.dashboardBody {
    width: 80%;
}

.destinationSection, .eventSection, .communitySection {
    display: flex;
    flex-direction: column;
    margin-top:40px;
    padding: 20px;
    /*box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);*/
    border-radius: 25px;
    /*background-color: #ffffff7a;*/
}


.destinationTitle {
    display: flex;
}

.destinationBody, .eventBody, .communityBody {
    display: flex;
    justify-content: center;
}

.destinationInner ,.eventInner , .communityInner{
    width: 90%;
    display: flex;
}

.eventTitle {
    display: flex;

}

.eventBody{

}


.communityTitle {
    display: flex;

}


.title {
    font-weight: 700;
    font-size: 24px;
    margin-left:15px;
}

.sectionFooter {
    color:#1d2c63;
    margin-top:25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sectionFooter:hover {
    transform: translateX(15px)
}

.sectionFooter p{
    cursor: pointer;
    font-weight: 700;

}
.sectionFooter img {
    margin-right:20px;
    margin-left:5px;
}

.item {
    cursor: pointer;
    border-radius: 15px;
    width: 33%;
    min-height: 250px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
    margin-right: 40px;
    background-color: #ededed30;
}

.item:hover {
    transform: scale(1.1);
}

.itemContent {
    padding: 20px;
}

.itemTitle {
    display: flex;
    justify-content: space-between;
}

.itemBody {

}

.itemBody img {
    margin-top:10px;
}

.itemTitle p {
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
}

.itemDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eventItem {
    min-height:400px;
    width:25%;
}

.eventItemContent {
    position: relative;
    /*background-color:#ffffff7a;*/
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);

}

.eventInner {
    justify-content: space-around;
}

.eventImg1    {
    height: 200px;
    background-image: url("/public/images/event1.png");
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire div with the image */
    background-position: center; /* Center the image within the div */
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%
}

.eventImg    {
    height: 200px;
    background-image: url("/public/images/event1.avif");
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire div with the image */
    background-position: center; /* Center the image within the div */
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%
}

.eventType {
    color:#fff;
    position: absolute;
    left:33%;
    padding: 10px 20px;
    top:42%;
    background-color: #1d2c63c2;
}

.eventDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    text-align: center;
    height: 220px;
}

.eventDesc p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
