.login{

}

.loginWall {
    margin-left:-50px;
    padding:30px 0 30px 30px;
    width:55%
}

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    margin:8rem auto 0 auto;
}

.loginContent {
    padding:30px 20px 30px 0;
    width: 45%;
}

.loginForm {
    margin-top:60px;
}

.loginAction {
    margin-top:50px;
}

.loginIntro h1 {
    color:#1d2c63 ;
    font-weight: 900;
}

.forgotPassword {
    cursor: pointer;
    color:#1d2c63e8;
}

.toRegisterP {
    color:#1d2c63e8;

}

.loginAddActions {
    margin-top:25px;
}

.loginAddActions p{
    font-size:12px;
    text-align: end;
    margin-block-start: 0.3rem;
    margin-block-end: 0.3rem;
}

.toRegister {
    color:#1d2c63 ;

    font-weight: 700;
    font-size: 13px !important;
    cursor: pointer;
}
