.registrationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    margin:8rem auto 0 auto;
    /*background-color: #d4e9fc5c;*/
    /*box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12)*/
}

.registrationWall {
    margin-left:-50px;
    padding:30px 0 30px 30px;
    width:55%
}

.registrationContainer {
    padding:30px 20px 30px 0;
    width: 45%;
    /*background-color: #fff;*/
}

.registrationForm {
    position: relative;
    border-radius: 3px;
    padding: 20px 20px 25px 20px;

}

.registrationIntro {

}
.inputWrapper p{
    color: #1d2c63
}

.registrationContent {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    min-height: 52px;
    margin-bottom:5px;
}

.passwordContent {
    display: flex;
    position: relative;
    min-height: 52px;
    margin-bottom:5px;
}

.passwordContent img {
    position: absolute;
    top:13px;
    right:5px
}

.warningText {
    color: #ef4254;
    width: 100%;
}

.passwordContent svg {
    position: absolute;
    right: 0;
    top: 17%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input {
    border: 1px solid #1d2c63;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    height: 20px;
    margin-bottom:5px;

}

.submit {
    margin-top: 15px;
    text-align: end;
}

.submit button {
    background-color:#1d2c63;
    width:160px;
    height: 40px;
    border-radius: 25px;
    color: #fff;
    font-size:18px;
    border:0;
    font-weight: 600;
    cursor: pointer;
}
.submit button:focus {
    outline: none !important;
}

.submit button:active {
    background-color: #6376a4;
    color: #fff;
    transform: translateY(1px);
}

.loginErrorText {
    position: absolute;
    bottom: 7%;
    width: 100%;
    color: #ef4254;
    overflow: hidden;
}

.registrationAttention {
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.registrationIntro {
    margin: 20px;
}
.registrationIntro h1 {
    color:#1d2c63 ;
    font-weight: 900;
}

.registrationIntro p{
    font-size:10px;
    margin-top: -20px;
    font-weight: 700;
    color:#5159bf;
    text-align: end;
}

.registrationContainer p {
    margin-block-end: 0.5em;
    text-align: start;
}

.inputWrapper input[type='text'] {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

.inputWrapper input[type='password'] {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

.inputWrapper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
