body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("/public/images/bg-gradient-ellipse-05.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-attachment: fixed; !* Optional: To fix the background image *!*/
  /*!* Other styles for your element *!*/
  /*width: 100%;*/
  /*height: 100vh;*/
  background-color:#d4e9fc5c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
